html,
body {
   margin:0;
   padding:0;
   height:100%;
   background: #AFE4FF;
}
h1 {
   font-family: Yikes;
   font-size: 9em;
   color: white;
text-shadow:
    2px 4px 0 #2D5A66;
   text-align:center;
   margin:0.3em;
}

body {
  display: table;
  width: 100%;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded { height: 100%; }
.douglas{
   position:fixed;
   left:0px;
   bottom:0px;
}