html,
body {
   margin:0;
   padding:0;
   height:100%;
   background: #AFE4FF;
}
h1 {
   font-family: Yikes;
   font-size: 9em;
   color: white;
text-shadow:
    2px 4px 0 #2D5A66;
   text-align:center;
   margin:0.3em;
}

body {
  display: table;
  width: 100%;
}

#header-title {
  display: table-row;
  height: 1px;
  text-align:center;
}

#footer { height: 100%; }
#footer-image{
   position:fixed;
   left:0px;
   display:flex;
   bottom:0px;
}